
body{
    background-color: #337551;
    color: white;
    font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
  padding: 0%;
}
header {
    background-color: black;
    display: flex;
    flex-direction: row;

}
header  ul {
    display: flex; 
    list-style: none;
}
header li {
    padding-left: 6rem;
}
header h1 {
    padding-left: 6rem;
}